.aider*
session_dir/

data/*
!data/mock.json
!data/mock.db
!data/mock.sqlite
!data/analytics.json
!data/analytics.db
!data/analytics.sqlite
!data/analytics.csv

specs/

patterns.log

paic-patterns.log

.env

relevant_files.json
output_relevant_files.json

package-lock.json

agent_workspace/